:root {
	--main-brand-color: #00C0EB;
	--main-brand-faded: #A9E4F5;
	--main-brand-accent: #E4572E;
	--second-brand-color: #E4572E;
	--second-brand-faded: #FDB19A;
	--second-brand-accent: #00C0EB;
	--third-brand-color: #76B041;
	--third-brand-faded: #C2DFA4;
	--third-brand-accent: #7A41B0;
}

/* GENERAL STYLES */

.button {
	font-weight: bold;
	border: none;
	border-radius: .2em;
	text-transform: uppercase;
	cursor: pointer;
	padding: 1.75em 4.5em;
}

.button:hover {
	transform: translateY(-10%);
}

.margin-1 {
	margin: 1em auto;
}

.margin-2 {
	margin: 2em auto;
}

/* FLEX SECTION STYLES */

/* Flex Parent */
.flex-section-row {
	display: flex;
	flex-direction: row;
	max-width: 80%;
	margin: 0 auto;
}

/* Flex Parent */
.flex-section-column {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: 0 auto;
	align-items: center;
	text-align: center;
}

/* HEADER & FOOTER STYLES */

/* Flex Parents */
#header-wrapper,
#footer-wrapper {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

/* Flex Parents */
#header-nav-menu li,
#footer-nav-menu li {
	display: inline-flex;
	padding: 1em 2em;
}

/* Flex Child of #header-nav-menu li */
/* Flex Child of #footer-nav-menu li */
#header-nav-menu li a,
#footer-nav-menu li a {
	color: rgba(255, 255, 255, .6);
	transition: all .25s ease;
}

/* Flex Child of #header-nav-menu li */
#header-nav-menu li a {
	font-size: .75em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

/* Flex Child of #footer-nav-menu li */
#footer-nav-menu li a {
	font-size: 1.75em;
}

/* Flex Child of #header-nav-menu li */
#header-nav-menu li a.active {
	color: white;
}

/* Flex Children of #header-nav-menu li */
#header-nav-menu li a:hover:not(.active),
#footer-nav-menu li a:hover,
#header-nav-menu li a:focus:not(.active),
#footer-nav-menu li a:focus {
	color: white;
	transform: translateY(-20%);
}

/* Header Button Load/Scroll Animation */

.fp-viewing-Inicio #header-button-anchor .button,
.fp-viewing-Lo-Que-Hacemos #header-button-anchor .button,
.fp-viewing-Contacto #header-button-anchor .button {
	font-size: .75em;
	transition: background-color 2s, transform .25s;
}

.fp-viewing-Inicio #header-button-anchor .button {
	background-color: var(--main-brand-accent);
}

.fp-viewing-Lo-Que-Hacemos #header-button-anchor .button {
	background-color: var(--second-brand-accent);
}

.fp-viewing-Contacto #header-button-anchor .button {
	background-color: var(--third-brand-accent);
}

/* WELCOME SECTION STYLES - .fp-viewing-Inicio */

/* Flex Child of .flex-section-row */
/* Flex Parent */
#welcome-cta {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	margin: 1em;
}

/* Flex Child of #welcome-cta */
#welcome-cta h2 {
	line-height: 1.25em;
	font-weight: normal;
}

#welcome-button-anchor .button {
	background-color: var(--main-brand-accent);
	transition: all .25s ease;
}

/* Flex Child of .flex-section-row */
#welcome-tour {
	width: 100%;
	max-width: 640px;
	height: auto;
}

/* WORK SECTION STYLES - .fp-viewing-Lo-Que-Hacemos */

/* Flex Child of .flex-section-column */
/* Flex Child of #work-blurb-row */
/* Flex Parents */
#work-title,
.blurb {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Flex Child of .flex-section-column */
/* Flex Parent */
#work-blurb-row {
	display: flex;
	flex-direction: row;
}

.line {
	background-color: var(--second-brand-faded);
	border-radius: 1em;
	padding: .2em 4em;
}

#work-title h2,
.blurb h3 {
	text-transform: uppercase;
}

#work-title h3 {
	font-size: 1.25em;
	line-height: 1.25em;
	font-weight: normal;
	max-width: 60%;
}

/* Flex Child of .blurb */
.blurb p {
	line-height: 1.25em;
	max-width: 80%;
}

/* CONTACT SLIDE STYLES - .fp-viewing-Contacto */

/* Flex Child of .flex-section-column
#contact-title,
.form-row .button {
	margin: 2em auto 2em auto;
}*/

#contact-title h2 {
	text-transform: uppercase;
}

/* Flex Child of .flex-section-column */
#contact-form {
	min-width: 80%;
}

/* Flex Parent */
.form-row {
	display: flex;
}

/* Flex Children of .form-row */
.form-row input[type="text"],
.form-row input[type="email"],
.form-row textarea {
	border: none;
	font-size: .85em;
	border-radius: .2em;
	padding: 1em;
	background-color: rgba(255, 255, 255, .35);
}

/* Flex Children of .form-row */
.form-row input[type="text"],
.form-row input[type="email"] {
	width: 50%;
	height: 1em;
	margin: .5em;
}

/* Flex Child of .form-row */
.form-row textarea {
	width: 100%;
	height: 10em;
	margin: .5em;
}

/* Flex Children of .form-row */
.form-row input[type="text"]::placeholder,
.form-row input[type="email"]::placeholder,
.form-row textarea::placeholder {
	color: white;
}

/* Flex Child of .form-row */
.form-row input[type="submit"] {
	background-color: var(--third-brand-accent);
	transition: all .25s ease;
}

/* AFTER RENDER ANIMATIONS */